html,body{
  height: 100%;
}

img {
    vertical-align: middle;
    border-radius: 50%;
    width: 200px;
    height: 200px;  
  }

  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  .btn{
    width: 125px;
  }